.ButtonModalTraining {
    max-width: 25rem;
    align-self: center;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.InputModalTraining {
    font-size: 1.3rem;
    align-self: center;
    overflow: hidden;
    
}