#talents-list h3 {
	text-align: center;
	font-weight: 700;
	font-size: 3rem;
	width: 90%;
	margin: 1rem auto;
}

#talents-list .search-bar div#input * {
	font-size: 2rem;
}

#talents-list .element {
	text-align: center;
	font-size: 1.5rem;
	background: #f1f1f1;
	border-radius: 1rem;
	margin: 1rem;
	padding: 1rem;
	box-shadow: 0 0 10px -6px rgba(0,0,0,0.75);
	cursor: pointer;
}

#talents-list .element:hover {
  	box-shadow: 0 0 10px -4px rgba(0,0,0,0.75);
  	cursor: pointer;
	transform: scale(1.1);
}

#talents-list .search-bar {
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

#talents-list .profile-picture {
  	max-width: 100%;
}

#talents-list .hide-card {
  	display: none;
}

#talents-list .id-card {
  	/* word-wrap: break-word; */
  	position: relative;
	transition: transform 0.2s;
}

#talents-list .talent-card {
  	margin-top: 2rem;
}

#talents-list .no-user-found {
  	text-align: center;
}

#talents-list .overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

#talents-list .talent-row {
	justify-content: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
}

#talents-list .talent-row .element {
	flex: 0 0 25rem;
	max-width: 25rem;
}

@media screen and (max-width: 1200px) {
	.talent-row {
		width: 100%;
	}
}

@media screen and (max-width: 769px) {
	#talents-list .search-bar {
		width: 70%;
	}
}

@media screen and (max-width: 575px) {
	#talents-list .search-bar {
		width: 88%;
	}
}