.ContainerAuthenticationForm {
  background-color: #eee;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 5px 10px 5px #999;
  max-width: 40%;
  border: 5px solid 'transparent';
  border-radius: 20px;
  font-size: medium;
}

.ContainerAuthenticationForm h1 {
  font-weight: bold;
  text-align: center;
}

.ContainerAuthenticationForm button {
  width: 50%;
  margin: auto;
  border-radius: 20px;
}

.ContainerAuthenticationForm button:disabled {
  cursor: not-allowed;
}

.ContainerSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.ColAuthenticationInput {
  margin: 20px 0px;
}

.ColAuthenticationInput label {
  white-space: nowrap;
  font-weight: bold;
}