.ContainerAuthenticationForm {
  background-color: #eee;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 5px 10px 5px #555;
  max-width: 50%;
  border: 5px solid #222;
  border-radius: 10px;
}

.ColAuthenticationInput {
  margin: 10px 0px;
}

.ColAuthenticationInput label {
  white-space: nowrap;
}