.talent-training-section {
  border: 0.3rem solid #151515;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}

.training-section-head {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.training-section-head > h6 {
  font-size: 2rem;
}

.add-training-button {
  background: #F0F0F0;
  border: 1px solid black;
  padding: 5px ;
  font-size: 2rem;
}


.training-form {
  width: 100%;
  border-top: solid 1px #151515;
  padding: 0 15px 15px 15px;
}

@media (max-width: 768px) {
  .training-section-head > h6 {
    font-size: 1.5rem;
  }

  .add-training-button {
    padding: 4px;
    font-size: 1.5rem;
  }
}

@media (max-width: 340px) {
  .training-section-head {
    display: block;
    text-align: center;
  }
}