.TalentTrainingSection {
  border: 0.3rem solid #151515;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}

.TrainingSectionHead {
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.TrainingSectionHead h6 {
  font-size: 2rem;
}

.AddTrainingButton {
  background: #F0F0F0;
  border: 1px solid black;
  padding: 5px ;
  font-size: 2rem;
}


.TrainingForm {
  width: 100%;
  border-top: solid 1px #151515;
  padding: 0 15px 15px 15px;
}

@media (max-width: 768px) {
  .TalentTrainingSection {
    padding: 8px;
  }

  .TrainingSectionHead > h6 {
    font-size: 1.5rem;
  }

  .AddTrainingButton {
    padding: 4px;
    font-size: 1.5rem;
  }
}

@media (max-width: 340px) {
  .TrainingSectionHead {
    display: block;
    text-align: center;
  }
}