.LabelTrainingForm {
  font-size: 2rem;
  margin-top: 15px;
}

.InputTrainingForm {
  font-size: 1.5rem;
  align-self: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  .LabelTrainingForm {
      font-size: 1.5rem;
  }

  .InputTrainingForm {
    font-size: 1.3rem;
  }
}