.TimelineFilters {
    background-color: rgba(0, 0, 0, 0.080);
    padding: 10px;
    margin: 25px;
}

.checkmark {
    margin-right: 25px;
    margin-left: 25px;
}

.checkboxinput {
    margin: 5px;
    height: 18px;
    width: 18px;
}

.TimelineFiltersCheckboxes {
    display: inline;
    margin: 5px;
    font-size: 18px;
}

/*.TimelineFiltersCheckboxes {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.TimelineFiltersCheckboxes input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.TimelineFiltersCheckboxes:hover input ~ .checkmark{
    background-color: #ccc;
}

.TimelineFiltersCheckboxes input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.TimelineFiltersCheckboxes input:checked ~ .checkmark:after {
    display: block;
}

.checkmark {
    position: absolute;
    top: 0;
    height: 23px;
    width: 23px;
    background-color: #eee;
}

.TimelineFiltersCheckboxes .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}*/


.TimelineFiltersSearchName {
    margin-left: 10px;
    margin-right: 10px;
}

.TimelineFiltersSelect {
    margin-left: 10px;
    margin-right: 10px;
}

.TimelineFiltersReason {
    display: block;
    margin: 10px;
    font-size: 18px;
}

.TimelineFiltersSearch {
    display: block;
    margin: 10px;
    font-size: 18px;
}

.TimelineFiltersTitle {
    text-align: left;
}

#Title {
    font-size: 25px;
}