.TimelineFilters {
    background-color: rgba(0, 0, 0, 0.080);
    padding: 10px;
    margin: 25px;
}

.checkmark {
    margin: 10px;
}

.checkboxinput {
    margin: 10px;
}

.TimelineFiltersCheckboxes {
    display: inline;
    margin: 10px;
    font-size: 15px;
}

.TimelineFiltersReason {
    display: block;
    margin: 10px;
    font-size: 15px;
}

.TimelineFiltersTitle {
    text-align: left;
}

#Title {
    font-size: 25px;
}