.title-modal-training > h5 {
  font-size: 2rem;
}

.title-modal-training + :global.modal-body {
  padding-top: 0;
}

.button-modal-training {
  max-width: 25rem;
  align-self: center;
  font-size: 1.3rem;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .title-modal-training > h5 {
    font-size: 1.5rem;
  }
}